.mask-container {
	position: absolute;
	width: 100%;
	height: 90vh;
	background-color: $bgGrey;

	.mask-center {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 90vh;
	}

	.mask-img {
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		height: 90vh;
		background-image: url("http://jatecson.com/assets/img/mask-pattern.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		clip-path: url(#clipMask);
	}

	.mask-svg{
		position: relative;
		@extend .test3;
	}

	svg {
		position: relative;
		width: 300px;
		height: 300px;
	}
}