.secret {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content:center;
	flex: 1;
	background: $grey;

	.secret-container {
		position: absolute;
		width: 360px;
		min-height: 100px;
		@extend .center-xy;

		@media #{$size-400} {
			width: 90%;
		}
	}

	input {
		position: relative;
	  	display: block;
	  	top:30px;
		width: 100%;
		padding: 15px 12px 15px 12px;
		font-family: $din;
		font-size: 18px;
		color: #FFFFFF;
		background: $grey;
		border: none;
		outline: none;
		border: 1px solid rgba(255,255,255,0.3);
		border-radius: 4px;
		text-indent: 20px;
		transition: all .3s ease-in-out;

		&:focus{
		    text-indent: 12px;
		    background: rgba(0,0,0,0.4);
		    border: 1px solid $darkGrey;
		}

		@media #{$size-400} {
			font-size: 14px;
		}
	}

	::-webkit-input-placeholder {
	   color: $lightGrey;
	}

	:-moz-placeholder {
	   color: $lightGrey;  
	}

	::-moz-placeholder {
	   color: $lightGrey;  
	}

	:-ms-input-placeholder {  
	   color: $grey;  
	}
	
}