.grid {
	position: relative;
	//max-width: 1650px;
	@extend .center-x;


	.img-detail {
	  	width: 16.6667%;
	  	padding:10px;

	  	&-video {
	  		svg {
	  			position: absolute;
	  			@extend .center-xy;

	  			path {
	  				fill: #fff;
	  			}
	  		}
	  	}

	  	@media #{$size-1950} {
	  		width: 20%;
	  	}

	  	@media #{$size-1650} {
	  		width: 25%;
	  	}

	  	@media #{$size-1250} {
	  		width: 33.3333%;
	  	}

	  	@media #{$size-900} {
	  		width: 50%;
	  	}

	  	@media #{$size-550} {
	  		svg {
					width: 40px;
					height: 30px;
	  		}
	  	}

	  	@media #{$mqSmall} {
	  		padding:5px;
	  	}
	}
}

// .grid {
// 	position: relative;
// 	max-width: 1250px;
// 	@extend .center-x;

// 	.img-detail {
// 	  	width: 33.3333%;
// 	  	padding:10px;

// 	  	// @media #{$size-1950} {
// 	  	// 	width: 20%;
// 	  	// }

// 	  	// @media #{$size-1650} {
// 	  	// 	width: 25%;
// 	  	// }

// 	  	// @media #{$size-1250} {
// 	  	// 	width: 33.3333%;
// 	  	// }

// 	  	// @media #{$size-900} {
// 	  	// 	width: 50%;
// 	  	// }

// 	  	// @media #{$mqSmall} {
// 	  	// 	padding:5px;
// 	  	// }
// 	}
// }