.prev-next {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #D8D8D8;
	width: 100%;
	margin-top: 100px;

	@media #{$mqSmall} {
 		margin-top: 60px;	
 	}

	.skip-project {
		position: relative;
		width: 33.3333%;
		max-width: 400px;
		margin: 20px;
		cursor: pointer;

		&:hover {
			.skip-bg {
				opacity: 1;
				transition: opacity 750ms ease(out-quad);
			}

			.skip-layer {
				opacity: 0;
				transition: opacity 750ms ease(out-quad);
			}
		}

		@media #{$mqSmall} {
	  		margin:15px;
	  		width: 50%;
	  	}

	  	.skip-c {
	  		position: relative;
	  		@include aspect-ratio(16, 9);
	  		background: #000;
	  		@extend .fade-in;
	  	}

	  	.skip-layer {
	  		position: absolute;
	  		display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 20px;
	  		width: 100%;
	  		height: 100%;
	  		font-family: $dinMed;
			font-size: 15px;
			letter-spacing: 1px;
			line-height: 17px;
	  		color: #FFF;
	  		transition: opacity 750ms ease(out-quad);
	  		text-align: center;
	  		
	  		@media #{$mqSmall} {
	  			font-size: 14px;
	  			line-height: 16px;
		  		padding: 10px;
		  	}
	  	}

		.skip-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			color:#FFF;
			background: rgba(255, 255, 255, 0.3);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			opacity: 0.5;
			transition: opacity 750ms ease(out-quad);

		}
		
	}
}