.footer {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 60px 40px;
	background: $grey;
	overflow: hidden;

	@media (max-width: 750px){
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	@media #{$mqXSmall} {
		padding: 40px 15px;
	}

	.footer-contact {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex:1;

		.ja-small {
			min-width: 80px;
			max-width: 80px;

			img {
				margin-top: 3px;
			}
		}

		.v-rule {
			width: 1px;
			height: 20px;
			background: $blue;
			margin: 0 20px;
		}

		.contact-link {
			font-style: $din !important;
			margin-bottom: 1px;

			a:link, a:focus, a:visited {
				font-style: $din !important;
				text-transform: none;
				color: #fff;
				transition: color 300ms ease(in-circ);

				&:hover {
					font-style: $din !important;
					color: $blue;
					transition: color 300ms ease(out-circ);
				}
			}
		}
	}

	.footer-social {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex:1;

		.social-item {
			margin-left: 60px;

			img, svg {
				height: 20px !important;
				width: auto !important;
			}	

			@media (max-width: 750px){
				margin: 30px 30px 0 30px;
			}

			@media (max-width: 400px) {
				margin: 30px 20px 0 20px;
			}
			
		}

	}
}

.social-item.hide-400 {
	@media #{$size-400}{
		display: none;
	}
}

.social-item {
	cursor: pointer;
	transform: translate3d(0, 0, 0);
	outline: none;
	-webkit-tap-highlight-color: transparent;
	
	.img-link {
		position: relative;
		display: block;
		-webkit-tap-highlight-color: transparent;
		z-index: 2;
		transition: color 300ms ease(in-circ);
		cursor: pointer;
	}
	
	&:hover:after {
		height: 50%;
		transition: height 300ms ease(out-circ);	
	}

	a:active:after {
		height: 0.1rem;
		transition: height 300ms ease(out-circ);
	}

	&:after {
		position: absolute;
		display: block;
		bottom: 0;
		left: -10%;
		background: $blue;
		height: 0rem;
		width: 120%;
		content: "";
		transition: height 300ms ease(in-circ);
		z-index: 1;
	}
}