
.home-btn {
	flex-shrink: 0;
	width:90px;
	height: 74px;

	@media #{$size-400} {
		height: 64px;
	}

	@media #{$size-360} {
		height: 54px;
	}
}

.side-nav-btn {
	position: absolute;
	top:0;
	right:0;
	display: flex;
	justify-content: center;
	align-items: center;
	@extend .home-btn;
	background-color: rgba(0, 0, 0, 0.25);
	cursor: pointer;
	transition: background 500ms ease(in-quad);
	opacity: 0;
	z-index: map-get($zindex, menu); 

	img {
		width: 22px;
		height:16px;
	}

	&:hover {
		background-color: rgba(0, 0, 0, 0.5);
		transition: background 300ms ease(out-quad);	
	}
}

.ja-header {
	position: fixed;
	z-index: map-get($zindex, header);
	top:0;
	left:0;
	width: 100%;
	
	.nav-container {
		display: flex;
		align-items: center;
		width: 100%;
		height: 74px;

		@media #{$size-400} {
			height: 64px;
		}

		@media #{$size-360} {
			height: 54px;
		}
	}

	.mark {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #FFF;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		transition: opacity 200ms ease(out-quad);

		img {
			height:100% !important;
			width: auto !important;
			padding: 15px;

			@media #{$size-360} {
				padding: 12px;
			}
		}

		@media #{$size-400} {
			height: 64px;
		}

		@media #{$size-360} {
			height: 54px;
		}
	}
	
	.nav {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		width: 100%;
		margin: 0 10px;
		overflow: hidden;

		.spacer {
			flex-grow: 1;
		}

		.nav-item {
			margin: 0 10px;
			transform: translate3d(0, 0, 0);
			outline: none;
			-webkit-tap-highlight-color: transparent;
			
			a:link, a:focus, a:visited {
				position: relative;
				display: block;
				font-family: $dinBold;
				font-size: 18px;
				color:#fff;
				line-height: 25px;
				text-decoration: none !important;
				-webkit-tap-highlight-color: transparent;
				z-index: 2;
			}

			&:hover:after {
				height: 0.6rem;
				transition: height 300ms ease(out-circ);	
			}

			a:active:after {
				height: 0.1rem;
				transition: height 300ms ease(out-circ);
			}

			&:after {
				position: absolute;
				display: block;
				bottom: 2px;
				left: -2%;
				background: $blue;
				height: 0rem;
				width: 104%;
				content: "";
				transition: height 300ms ease(in-circ);
				z-index: 1;
			}

			&:last-child {
				align-self: flex-end;
				text-align: right;
			}

			@media #{$size-500} {
				margin: 0 8px;

				a:link, a:focus, a:visited, &:hover {
					font-size: 16px;
			  		line-height: 20px;
				}

				&:hover:after {
	   				height: 0.5rem;
				}

				.hide-450 {
					display: none;
				}
			}

			@media #{$mqXSmall} {
				a:link, a:focus, a:visited, &:hover {
					font-size: 14px;
			  		line-height: 18px;
				}
			}
			
		}
		
	}
}

.ja-header-home {
	@extend .ja-header;
	background: rgba(0, 0, 0, 0.25);
}

.fade-out-nav {
	opacity: 0;
	transition: opacity 0.5s ease-out;
}

.fade-in-nav {
	opacity: 1;
	transition: opacity 0.5s ease-out;
}