.side-menu {
	display: block;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: map-get($zindex, overlay);

	.close-bg-btn {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.5);
		cursor: pointer;
	}

	.sm-content {
		position: absolute;
		display: flex;
		flex-direction: column;
		top:0;
		transform: translateX(200%);
		width: 50%;
		height: 100%;
		padding: 5%;
		background-color: #260102;
		background-image: url("http://jatecson.com/assets/svg/menu-bg.svg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		@media (max-width: 500px){
			width: calc(100% - 90px);
			padding: 8%;
		}

		@media (min-width: 1200px) {
			padding: 3% 5%;
		}
	}

	.side-top {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		flex: 1;
	}

	.blue-rule {
		align-self: flex-start;
		flex: 1;
		width: 100%;
		max-height: 1px;
	 	background: $blue;
		max-width: 60px;
	 	margin: 8% 0;
	}

	.nav-item {
		transform: translate3d(0, 0, 0);
		outline: none;
		margin-bottom: 2%;
		-webkit-tap-highlight-color: transparent;

		.txt-link {
			position: relative;
			display: block;
			font-family: $dinBold;
			font-size: 8vw;
			color: #fff;
			text-transform: uppercase;
			-webkit-tap-highlight-color: transparent;
			z-index: 2;
			transition: color 300ms ease(in-circ);
			cursor: pointer;

			&:hover {
				color: $lightGrey;
				transition: color 300ms ease(out-circ);
			}

			@media #{$mqSmall} {
				font-size: 10vw;
			}

			@media (min-width : 1500px){
				font-size: 120px;
			}
		}

		&:hover:after {
			height: 50%;
			transition: height 300ms ease(out-circ);	
		}

		a:active:after {
			height: 0.1rem;
			transition: height 300ms ease(out-circ);
		}

		&:after {
			position: absolute;
			display: block;
			bottom: 0;
			left: -2%;
			background: $blue;
			height: 0rem;
			width: 104%;
			content: "";
			transition: height 300ms ease(in-circ);
			z-index: 1;
		}
	} 

	.nav-item-small {
		@extend .nav-item;

		.txt-link {
			font-size: 3vw;
			
			@media #{$size-600}{
				font-size: 18px;
			}
		}
	}

	.side-bottom {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		.social-item {
			cursor: pointer;
			transform: translate3d(0, 0, 0);
			outline: none;
			-webkit-tap-highlight-color: transparent;
			max-width: 20px;
			max-height: 20px;
			min-width: 15px;
			min-height: 15px;
	
			.img-link {
				position: relative;
				display: block;
				-webkit-tap-highlight-color: transparent;
				z-index: 2;
				transition: color 300ms ease(in-circ);
				cursor: pointer;
			}
			
			&:hover:after {
				height: 50%;
				transition: height 300ms ease(out-circ);	
			}

			a:active:after {
				height: 0.1rem;
				transition: height 300ms ease(out-circ);
			}

			&:after {
				position: absolute;
				display: block;
				bottom: 0;
				left: -10%;
				background: $blue;
				height: 0rem;
				width: 120%;
				content: "";
				transition: height 300ms ease(in-circ);
				z-index: 1;
			}
		}

	}

	// iPad with portrait orientation.
	@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
		height: 1024px;
	}
	 
	// iPad with landscape orientation.
	@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
		height: 768px;
	}
}

.close-nav-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	@extend .home-btn;
	background-color: rgba(0, 0, 0, 0.25);
	cursor: pointer;
	transition: background 500ms ease(in-quad);
	transition: opacity 500ms ease(out-quad);

	img {
		width: 22px;
		height:16px;
	}

	&:hover {
		background-color: rgba(0, 0, 0, 0.5);
		transition: background 300ms ease(out-quad);	
	}
}