$blk: #000000;
$wht: #FFFFFF;

$red: #C82434;
$red2: #9E050B;
$red3: #7D0102;

$blue: #4FBBEB;
$blue2: #4DBDEC;

$grey: #404041;
$c-grey: #D8D8D8;
$darkGrey: #2A2A2A;
$lightGrey: #F0F1F1;
$bgGrey: #E7E7E7;

$purple1: #3D1B31;
$purple2: #30040A;