/* ==========================================================================
   MAIN
   ========================================================================== */

*, *:after, *::before {
    box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
  -webkit-font-smoothing: antialiased;
  background: #F3F3F3;
  font-family: $din;
}

body {
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto !important;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;

  &:hover {
    color: grey;
  }
}

/* ==========================================================================
   GLOBAL
   ========================================================================== */

.wrapper {
  display: flex;
  flex:1;
  min-height: 100%;
  flex-direction: column;
  overflow-x: hidden;
  // align-items: center;
  // justify-content: center;

  .active {
    height:100%;
    overflow:hidden;
  }
}

.fs {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
}

.bg-video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img {
  width:100%;
  height: 100%;

  .bg-mask, .bg-content {
    @extend .fs;
    //opacity: 0.5;
  }

  .bg-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bg-mask {
    height: 101%;
  }

  .bg-mask {

    svg {
      width: 100% !important;
      height: 100% !important;
      @extend .center-y;
    }
  }
}

@mixin fsMinusNav() {
  height: calc(100% - 74px);
  z-index: map-get($zindex, overlay);

  @media #{$size-400} {
    height: calc(100% - 64px);
  }

  @media #{$size-360} {
    height: calc(100% - 54px);
  }
}

.page-mask {
  @extend .fs;
  z-index: map-get($zindex, mask);

  svg {
    width: 100% !important;
    height: 100% !important;
    @extend .center-y;
  }
}

.image {
  opacity: 0;
}

.image.image-loaded {
  opacity: 1;
  transition: all 0.4s ease(in-out-quad) !important;
}

.page {
  position: relative;
  flex:1;
}

.page-top-padding {
  margin-top:74px !important;
  height: calc(100% - 74px) !important;

  @media #{$size-400} {
    margin-top: 64px !important;
  }

  @media #{$size-360} {
    margin-top: 54px !important;
  }
}

.page-top-margin {
  margin-top:74px !important;

  @media #{$size-400} {
    margin-top: 64px !important;
  }

  @media #{$size-360} {
    margin-top: 54px !important;
  }
}

.fullscreen-page, .fs-page {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// Effects
.fade-in2 {
    animation: fadein 2s ease(out-quad);
}

@keyframes fadein {
    from {  opacity:0; }
    to { opacity:1; }
}

.fade-in {
    animation: fadein 0.5s ease(out-quad);
}

@keyframes fadein {
    from {  opacity:0; }
    to { opacity:1; }
}