/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

$size-2800: "only screen and (max-width : 2800px)";
$size-2400: "only screen and (max-width : 2400px)";
$size-2000: "only screen and (max-width : 2000px)";
$size-1950: "only screen and (max-width : 1950px)";
$size-1800: "only screen and (max-width : 1800px)";
$size-1650: "only screen and (max-width : 1650px)";
$size-1600: "only screen and (max-width : 1600px)";
$size-1500: "only screen and (max-width : 1500px)";
$size-1400: "only screen and (max-width : 1400px)";
$size-1350: "only screen and (max-width : 1350px)";
$size-1250: "only screen and (max-width : 1250px)";
$size-1200: "only screen and (max-width : 1200px)";
$size-1150: "only screen and (max-width : 1150px)";
$size-1100: "only screen and (max-width : 1100px)";
$size-1050: "only screen and (max-width : 1050px)";
$size-1000: "only screen and (max-width : 1000px)";
$size-950:  "only screen and (max-width : 950px)";
$size-900:  "only screen and (max-width : 900px)";
$size-850:  "only screen and (max-width : 850px)";
$size-800:  "only screen and (max-width : 800px)";
$size-750:  "only screen and (max-width : 750px)";
$size-700:  "only screen and (max-width : 700px)";
$size-650:  "only screen and (max-width : 650px)";
$size-600:  "only screen and (max-width : 600px)";
$size-550:  "only screen and (max-width : 550px)";
$size-500:  "only screen and (max-width : 500px)";
$size-450:  "only screen and (max-width : 450px)";
$size-400:  "only screen and (max-width : 400px)";
$size-360:  "only screen and (max-width : 347px)";
$size-320:  "only screen and (max-width : 320px)";
$size-240:  "only screen and (max-width : 240px)";

/* Portrait phones and down */
$mqTiny: "(max-width: 270px)";

/* Portrait phones and down */
$mqXSmall: "(max-width: 320px)";

/* Landscape phones and down */
$mqSmall: "(max-width: 480px)";

/* Landscape phone to portrait tablet */
$mqMedium: "(max-width: 767px)";

/* Portrait tablet to landscape and desktop */
$mqLarge: "(min-width: 768px) and (max-width: 979px)";

/* Large desktop */
$mqXLarge: "(min-width: 1200px)";

/* Height */
$mqOverSmallHeight: "only screen and (min-height: 300px)";
$mqOverMedHeight: "only screen and (min-height: 480px)";

/* Height */
$infoText: "(max-height: 600px) and (min-width: 1200px)";