$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$dinBlack: 'DinBlack', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$dinBold: 'DinBold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$dinMed: 'DinMedium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$dinBoldCond: 'DinBoldCond', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$din: 'Din', 'Helvetica Neue', Helvetica, Arial, sans-serif;


@font-face {
	font-family: 'DinBoldCond';
	src: url('http://jatecson.com/assets/fonts/d-condensed.woff2') format('woff2'),
	url('http://jatecson.com/assets/fonts/d-condensed.woff') format('woff'),
	url('http://jatecson.com/assets/fonts/d-condensed.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DinBlack';
	src: url('http://jatecson.com/assets/fonts/d-blk.woff2') format('woff2'),
	url('http://jatecson.com/assets/fonts/d-blk.woff') format('woff'),
	url('http://jatecson.com/assets/fonts/d-blk.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DinBold';
	src: url('http://jatecson.com/assets/fonts/d-bold.woff2') format('woff2'),
	url('http://jatecson.com/assets/fonts/d-bold.woff') format('woff'),
	url('http://jatecson.com/assets/fonts/d-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DinMedium';
	src: url('http://jatecson.com/assets/fonts/d-med.woff2') format('woff2'),
	url('http://jatecson.com/assets/fonts/d-med.woff') format('woff'),
	url('http://jatecson.com/assets/fonts/d-med.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Din';
	src: url('http://jatecson.com/assets/fonts/d-reg.woff2') format('woff2'),
	url('http://jatecson.com/assets/fonts/d-reg.woff') format('woff'),
	url('http://jatecson.com/assets/fonts/d-reg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}