/* ==========================================================================
   POSITION
   ========================================================================== */

@mixin center-x() {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.center-x {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.center-y {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center-xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-reset {
    transform: translate(0, 0);
}

/* ==========================================================================
   UTILS
   ========================================================================== */

.selectable {
  user-select: text;
}

.select-none {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.select-text {
  user-select: text;
}

.scroll, .scrollable {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

.hit:after {
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 50;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACklEQVQYGWMAAQAABQAB8C9sxAAAAABJRU5ErkJggg==);
  background-color: rgba(255, 0, 0, 0.3);
}

.hidden, .hide {
    display: none !important;
    visibility: hidden;
}

.invisible {
    visibility: hidden;
}

/* ==========================================================================
   DEBUGGING
   ========================================================================== */

.test, .test1 {
  outline: 1px solid rgba(253, 0, 0, 0.5) !important;
}

.test2 {
  outline: 1px solid rgba(248, 229, 28, 0.5) !important;
}

.test3 {
  outline: 1px solid rgba(0, 18, 255, 0.5) !important;
}