/*
	z-index: map-get($zindex, projects);
*/

$zindex: (
  modal          : 9000,
  overlay        : 8000,
  projectsDetail : 7003,
  menu    	     : 7002,
  logo           : 7001,
  header         : 7000,
  mask           : 6000,
  footer         : 5000,
  projects       : 1000,
  bgTwo          : -2,
  bg             : -1
);