.projects-images {
    position: relative;
    width: 100%;
}

.slides {
    position: relative;
    top:0;
    width: 100%;
    height: 90vh;

    .slide-item {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
    }

    .bg-img {
        position: absolute;
        background-color: $bgGrey;
    }
}

.pixi-slide {
    pointer-events: none;
    cursor: default;
    width: 100%;
    height: 100%;
    min-height: 290px;
    background: $bgGrey;
    overflow: hidden;
}

.pixi-slide-container {

    .pixi-svg-container {
        position: absolute;
        top:0;
        left:0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        @extend .test;
    }

    .svg-container {
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 600px;
        @extend .test3;
    }
}

.cover {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}