

.information {
	position: relative;

	.c-lo {
		text-transform: lowercase !important;
	}

	.contact-container {
		position: relative;
		top:0;
		left:0;
		width: 100%;
		height: 80vh;
		min-height: 560px;
	}

	.contact-bg {
		position: absolute;
		width: 100%;
		height: 80vh;
		min-height: 560px;
		background: $blue2;
	}

	.contact-bg-img {
		position: absolute;
		width: 100%;
		height: 80vh;
		min-height: 560px;
		background: $blue2 url('http://jatecson.com/assets/svg/contact-pattern.svg') left top no-repeat;
		background-size: 40%, 40%, contain;

		@media #{$size-900} {
			background-size: 50%, 50%, contain;
			transform:scaleX(-1);
		}
	}

	.contact {
		top:0;
		left:0;
		position: absolute;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		height: 100%;

		@media #{$size-1200} {
			min-height: 460px;
		}

		@media #{$size-900} {
			background-size: 50%, 50%, contain;
			transform:scaleX(-1);
		}

		.social-container {
			display: flex;
			justify-content: flex-start;
			flex-direction: row;
			margin: 10px 5px 0 5px;
			flex:1;

			.social-item {
				margin: 0 40px 0 0;


				@media #{$size-1200} {
					img, svg {
						height: 25px !important;
						width: auto !important;
					}
				}

				@media #{$size-900} {
					.social-item {
						margin-right: 30px;
					}

					img, svg {
						height: 20px !important;
					}
				}

				&:hover:after {
					height: 50%;
					transition: height 300ms ease(out-circ);
				}

				a:active:after {
					height: 0.1rem;
					transition: height 300ms ease(out-circ);
				}

				&:after {
					background: $red;
				}
			}
		}

		.txt {
			position: relative;
			color: #fff;
			font-family: $dinMed;
			font-size: 36px;
			//font-size: 3.5vw;
			line-height: 44px;
			//line-height: 4.5vw;
			margin-right: 25%;
			padding:5%;
			margin-top: 74px;

			@media #{$size-1200} {
				font-size: 30px;
				line-height: 38px;
			}

			@media #{$size-900} {
				transform:scaleX(-1);
				margin-right: 5%;
			}

			@media #{$size-500} {
				font-size: 28px;
				line-height: 36px;
			}

			@media #{$size-400} {
				margin-top: 64px;
				font-size: 24px;
				line-height: 32px;
			}

			@media #{$size-320} {
				font-size: 18px;
				line-height: 24px;
				margin-top: 54px;
			}

			.c-item {
				display: flex;
				flex-direction: column;
				flex:1;

				> div {
					align-self: flex-start;
				}

				&:first-child {
					margin-bottom: 20px;
				}
			}

			.c-label {
				color: rgba(255,255,255, 0.50);
			}

			.c-label, .c-title {
				text-transform: uppercase !important;
			}
		}

		.txt-link {
			position: relative;
			transform: translate3d(0, 0, 0);
			outline: none;
			-webkit-tap-highlight-color: transparent;

			a:link, a:focus, a:visited {
				position: relative;
				display: block;
				color: #fff;
				//text-transform: lowercase;
				z-index: 2;
				transition: color 300ms ease(in-circ);
				cursor: pointer;
			}



			&:hover {
				color: $lightGrey;
				transition: color 300ms ease(out-circ);
			}

			&:hover:after {
				height: 50%;
				transition: height 300ms ease(out-circ);
			}

			a:active:after {
				height: 0.1rem;
				transition: height 300ms ease(out-circ);
			}

			&:after {
				position: absolute;
				display: block;
				bottom: 0;
				left: -2%;
				background: $red;
				height: 0rem;
				width: 104%;
				content: "";
				transition: height 300ms ease(in-circ);
				z-index: 1;
			}
		}
	}

	.bio {
		padding: 5%;
		margin: 5% 0;
		font-family: $dinMed;
		font-size: 40px;
		font-size: 2vw;
		line-height: 3.5vw;
		color: #404041;
		width: 70%;

		@media #{$size-1100} {
			width: 80%;
		}

		@media #{$size-1000} {
			font-size: 22px;
			line-height: 32px;
			width: 90%;
		}

		@media #{$size-900} {
			width: 100%;
		}

	  	@media #{$size-600} {
	  		font-size: 20px;
			line-height: 30px;
	  	}

	  	@media #{$size-500} {
	  		font-size: 18px;
			line-height: 28px;
	  	}

	  	@media #{$size-400} {
	  		font-size: 16px;
			line-height: 26px;
	  	}
	}

	.contact-images {
		position: relative;
		width: 100%;

		.c-image-container {
			//position: absolute;
			// display: flex;
			// justify-content: center;
			// align-items: center;
			// flex-direction: column;

			img {
				padding: 0 30px;

				@media #{$mqSmall} {
					padding: 0 15px;
				}
			}

			&:before {
				position: absolute;
				content: "";
				display: block;
				top:calc(100% - 80px);
				width: 100%;
				height: 80px;
				background-color: #fff;
			}
		}

		.bg-strip {
			display: none;
			position: absolute;
			top: 100%;
			background-color: yellow;
			width: 100%;
			height: 100px;
			opacity: 0.5;
		}

		.info-img-flex {
			position: relative;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			max-width: 1200px;
			@extend .center-x;
		}

		.about-bg-img {
			width: 45%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			margin-top: 30px;
			@include aspect-ratio(16, 9);

			&:nth-child(1) {
				margin-right: 15px;
			}

			&:nth-child(2) {
				margin-left: 15px;
			}

			@media #{$size-800} {
				margin-top: 20px;

				&:nth-child(1) {
					margin-right: 10px;
				}

				&:nth-child(2) {
					margin-left: 10px;
				}
			}

			@media #{$size-500} {
				width: 100%;
				margin: 0 !important;
			}
		}


	}

	.contact-message {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		font-family: $dinBoldCond;
		font-size: 48px;
		font-size: 5vw ;
		line-height: 5vh;
		padding: 60px 30px;
		padding: 12vmax 30px;
		color: #D8D8D8;
		letter-spacing: 20px;
		text-transform: uppercase;
		text-align: center;

		div {
			margin-right:-20px;
		}

		@media #{$mqSmall} {
			font-size: 7vw;
		}
	}

	.contact-low {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 350px;
		background-size: cover;
		background: $red url('http://jatecson.com/assets/svg/contact-low-triangles.svg') left bottom no-repeat;
		padding: 10% 0;

		.ja-red {
			width: 200px;
		}
	}
}