.project-hero {
	position: relative;
	width: 100%;
	height: 50vh !important;
	min-height: 250px;
	overflow: hidden;
	background: $blue;

	.hero-bg {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}

	.hero-title {
		position: relative;
		text-align: center;
		color: #FFF;
		font-family: $dinMed;
		font-size: 30px;
		font-size: 4vw;

		text-transform: uppercase;
		padding: 0 20px;

		@media #{$size-600} {
	  		font-size: 24px;
	  		line-height: 30px;
	  	}

		@extend .page-top-margin;
	}

	.hero-bg-c {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	.hero-bg-c.img-loaded {
		opacity: 1;
		transition: opacity 1500ms ease(out-quad);	
	}

	.hero-bg-img {
		position: relative;
		background-size: cover !important;
		background-repeat: no-repeat !important;
		background-position: center center !important;
		opacity: 0.2;
		filter: blur(1px) brightness(0.5) contrast(1.5);
		filter: saturate(0);
		width: 100%;
		height: 100%;
	}
}


.project-list {
	padding:10px;

	.img-detail {
		img {
			transition: filter 750ms ease(out-quad);
		}

		&:hover {
			img {
				filter: brightness(0.7);
				transition: filter 750ms ease(out-quad);
			}
		}
	}
}