.projects {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	flex:1;
	padding: 10px;

	.project-item {
		position: relative;
		width: 33.3333%;
		padding: 10px;

		@media #{$size-1650} {
	  		flex: 0 0 50%;
	  	}

		@media #{$size-700} {
	  		flex: 0 0 100%;
	  	}

		&:hover {
			.p-bg-img {
				filter: brightness(80%);
				transition: all 750ms ease(out-quad);
			}

			.p-label-container {
				opacity: 0.6;
				transition: opacity 750ms ease(out-quad);
			}
		}

		.p-container {
			background: rgba(0, 0, 0, 0.1);
			transition: background 750ms ease(out-quad);
		}

		.p-container-loaded {
			background: rgba(0, 0, 0, 0.1);
			transition: background 750ms ease(out-quad);
		}

		.p-bg-img-loaded {
			opacity: 1;
			filter: brightness(50%);
			background: rgba(255, 255, 255, 0.8);
			transition: all 750ms ease(out-quad);
		}

		.p-bg-img {
			position: relative;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			transition: all 750ms ease(out-quad);
			@include aspect-ratio(16, 9);
		}

		.p-label-container {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			top:0;
			left:0;
			color:#fff;
			padding: 10px;
			font-family: $dinMed;
			font-size: 15px;
			font-size: 1.5vw;
			letter-spacing: 1px;
			z-index: map-get($zindex, projects); 
			transition: opacity 750ms ease(out-quad);

			@media #{$size-1650} {
		  		font-size: 18px;
				font-size: 1.9vw;
		  	}

			@media #{$size-700} {
		  		font-size: 18px;
				font-size: 4vw;
		  	}

			.p-label {
				padding: 10px 15px;
				text-align: center;

				div:first-child {
					font-family: $din;
					font-size: 10px;
					font-size: 1vw;
					
					@media #{$size-1650} {
						font-size: 13px;
						font-size: 1.3vw;
					}

					@media #{$size-700} {
						font-size: 13px;
						font-size: 2.8vw;
					}
				}
			}

			.sm-rule {
				border: none;
    			height: 1px;
				width: 6vw;
				background: $blue;
				align: center;
				margin: 10px auto;

				.sm-inside {
					margin-top: 5px;
				}
			}
		}
	}
}