.story {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    overflow: hidden;

    .img-detail {
        display: inline-block;
    }

    .drag-container {
        width: 100%;
    }

    .drag {
        position: fixed;
        width: 100%;
        height: 100%;
    }

    .fs-story {
        position: relative;

         img {
            float: left;

            width: auto;
            height: 100%;
         }
    }
}