$iconStrokeWidth: 1.5;

.fs-nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: map-get($zindex, modal);

  .fs-nav-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .slide-count {
    color: $c-grey;
    align-self: center;
    opacity: 0.3;
  }

  .fs-mark {
    width: 50px;
  }

  .fs-close {

    svg {
      max-width: 18px;
    }

    .close-line {
      stroke: $c-grey;
      stroke-width: $iconStrokeWidth;
      transition: stroke 300ms ease(in-circ);
    }

    &:hover{
      .close-line {
        stroke: $red;
        transition: stroke 300ms ease(out-circ);
      }
    }
  }

  .fs-btn {
    padding: 10px;
    margin: 10px;
    fill: $c-grey;
    max-width: 100px;
    cursor: pointer;
    transition: fill 300ms ease(in-circ);

    @media #{$mqMedium} {
      margin: 5px;
    }

    &:hover {
      fill: $red;
      transition: fill 300ms ease(out-circ);
    }
  }

  .prev-btn, .next-btn {
    svg {
      max-width: 18px;
    }

    .arrow-path {
      stroke: $c-grey;
      stroke-width: $iconStrokeWidth;
      transition: stroke 300ms ease(in-circ);
    }

    &:hover {
      .arrow-path {
        stroke: $blue;
        transition: stroke 300ms ease(out-circ);
      }
    }
  }

  .prev-btn {
    transform: rotate(180deg);
  }
}