.project-detail {
  position: absolute;
  @extend .fs;
  background: #2A2A2A;
}

.fs-img {
  position: absolute;
  top: 0;
  left:0;
  width: 50%;
  height: 50%;
}

.img-detail-lrg {
  max-width: 600px;
}

.fs-bg-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 96%;
  height: calc(100% - 130px);

  @media #{$mqMedium} {
    height: 95%;
    height: calc(100% - 114px);
  }
}

.fs-bg-img-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.swipe-c {
  position: relative;
  @extend .fs;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}