.swipe-container {
  position: relative;
  overflow-x: hidden;
  visibility: hidden;
  flex:1;
  height: 100%;

  iframe {
    width: 80vw;
    height: calc(80vw * 9/16);
    max-width: calc(70vh * 16/9);
    max-height: 70vh;

    @media only screen and (max-height: 650px) {
      width: 100vw;
      height: calc(100vw * 9/16);
    }
  }
}

.swipe-wrapper {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.swipe-child {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
}