$anim-speed: 550ms;
$triw: 10px;
$trih: $triw*.9;

.tri-loader {
	position: relative;
	flex:1;
	@extend .page-top-margin;
}

.triangles {
  position: relative;
  height: $trih * 3;
  width: $triw * 3;
}

.tri-c {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.tri {
	position: absolute;
	animation: pulse 550ms ease-in infinite;

	border: {
		top: $trih solid $blue;
		left: $triw/2 solid transparent;
		right: $triw/2 solid transparent;
		bottom: 0px;
	}

	&.invert {
	  	border: {
			top: 0px;
			bottom: $trih solid $blue;
			left: $triw/2 solid transparent;
			right: $triw/2 solid transparent;
	  	}
	}

	&:nth-child(1) {
	  left: $triw;
	}

	&:nth-child(2) {
	  left: $triw/2;
	    top: $trih;
	  animation-delay: $anim-speed/6*-1;
	}
	
	&:nth-child(3) {
	  left: $triw;
	    top: $trih;
	}

	&:nth-child(4) {
	  left: $triw*1.5;
	    top: $trih;
	  animation-delay: $anim-speed/6*-5;
	}

	&:nth-child(5) {
	  top:$trih*2;
	  animation-delay: $anim-speed/6*-2;
	}

	&:nth-child(6) {
	  top:$trih*2;
	    left: $triw/2;
	  animation-delay: $anim-speed/6*-2;
	}
	
	&:nth-child(7) {
	  top:$trih*2;
	    left: $triw;
	  animation-delay: $anim-speed/6*-4;
	}
	
	&:nth-child(8) {
	  top:$trih*2;
	  left: $triw*1.5;
	  animation-delay:$anim-speed/6*-4;
	}
	
	&:nth-child(9) {
	  top:$trih*2;
	  left: $triw*2;
	  animation-delay: $anim-speed/6*-4;
	}
}

@keyframes pulse {
	0% {
		opacity: 1;
	}
	16.666% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}